GITHUB_ORG_NAME := TakesxiSximada
GITHUB_REPO_NAME := aws-static-files
GITHUB_REPO := $(GITHUB_ORG_NAME)/$(GITHUB_REPO_NAME)
CIRCLECI_TOKEN :=
AWS_BUCKET_URL := s3://sximada-aws-static-files/
AWS_PROFILE :=
